# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v3.0. To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" and USB communication.

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.

# See docs/Config_Reference.md for a description of parameters.
[include macros.cfg]
#[include menu.cfg]


[stepper_x]
step_pin: PB13
dir_pin: PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC0
position_endstop: 0
position_max: 220
homing_speed: 50

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.580
stealthchop_threshold:  0 # 999999

[stepper_y]
step_pin: PB10
dir_pin: PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC1
position_endstop: 0
position_max: 220
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.580
stealthchop_threshold: 0 # 999999

[stepper_z]
step_pin: PB0
dir_pin: !PC5
enable_pin: !PB1
microsteps: 16
rotation_distance: 4
endstop_pin: probe:z_virtual_endstop
position_min: -2.6
position_max: 300

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.580
stealthchop_threshold: 0 #999999

[virtual_sdcard]
path: ~/gcode_files

[display_status]


[extruder]
step_pin: PB3
dir_pin: !PB4
enable_pin: !PD1
microsteps: 16
rotation_distance: 22.600
nozzle_diameter: 0.400
filament_diameter: 1.750
# pressure_advance: 0.249 # PETG, NYLON
#pressure_advance: 0.0775 # PLA cotton white
pressure_advance: 0.0755 # PLA China
#pressure_advance: 0.11
heater_pin: PC8
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA0
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: 0
max_temp: 270

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.800
stealthchop_threshold: 0

[heater_bed]
heater_pin: PC9
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
#control: pid
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 130

[bltouch]

stow_on_each_sample: False
probe_with_touch_mode: True
sensor_pin: ^PC14
control_pin: PA1
pin_move_time: 0.680
# pin_up_touch_mode_reports_triggered: False
x_offset: 45
y_offset: 7
z_offset: 2.95
speed: 10
lift_speed: 20
samples: 3
sample_retract_dist: 5
samples_tolerance_retries:3

[bed_mesh]
speed: 120
horizontal_move_z: 6
mesh_min: 45,7
mesh_max: 219,219
probe_count: 3,3
mesh_pps: 2,3
algorithm: bicubic
bicubic_tension: 0.2
fade_start: 1
fade_end: 5

[safe_z_home]
home_xy_position: 100,100 # Change coordinates to the center of your print bed
speed: 50
z_hop: 10                 # Move up 10mm
z_hop_speed: 5

[heater_fan heatbreak_cooling_fan]
pin: PC6 #PC7

[heater_fan controller_fan]
pin: PC7 #PB15

[fan]
pin: PB15
max_power: 1.0
cycle_time: 0.010
kick_start_time: 0.100

[gcode_arcs]
resolution: 1.0

[pause_resume]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_34003D001850425938323120-if00

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 1000
max_accel_to_decel: 1000
max_z_velocity: 5
max_z_accel: 100


[neopixel neo]
pin: PA8
chain_count: 8
color_order: GRB
initial_RED: 0.9
initial_GREEN: 0.9
initial_BLUE: 0.9

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PD6, EXP1_10=<5V>



[mcu rpi]
serial: /tmp/klipper_host_mcu

[adxl345]
cs_pin: rpi:None
axes_map: x, z, y

[resonance_tester]
accel_chip: adxl345
probe_points:
    100, 100, 20  
max_smoothing: 0.25 

[input_shaper]
#shaper_type_x = ei
#shaper_freq_x = 76.8
#shaper_type_y = mzv
#shaper_freq_y = 50.2

shaper_type_x = ei
shaper_freq_x = 75.4
shaper_type_y = mzv
shaper_freq_y = 46.8


# See the sample-lcd.cfg file for definitions of common LCD displays.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 24.583
#*# pid_ki = 1.450
#*# pid_kd = 104.172
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 61.140
#*# pid_ki = 0.814
#*# pid_kd = 1148.673
#*#
#*# [input_shaper]
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.145833, 0.049583, 0.025000
#*# 	  0.152500, 0.007500, -0.159583
#*# 	  0.183333, -0.011667, -0.198333
#*# tension = 0.2
#*# min_x = 45.0
#*# algo = bicubic
#*# y_count = 3
#*# mesh_y_pps = 3
#*# min_y = 7.0
#*# x_count = 3
#*# max_y = 219.0
#*# mesh_x_pps = 2
#*# max_x = 219.0
#*#
#*# [bed_mesh 50.0]
#*# version = 1
#*# points =
#*# 	0.140833, 0.046250, -0.012500
#*# 	0.178333, 0.047083, -0.138333
#*# 	0.218333, 0.025417, -0.167917
#*# tension = 0.2
#*# min_x = 45.0
#*# algo = bicubic
#*# y_count = 3
#*# mesh_y_pps = 3
#*# min_y = 7.0
#*# x_count = 3
#*# max_y = 219.0
#*# mesh_x_pps = 2
#*# max_x = 219.0
#*#
#*# [bed_mesh 40.0]
#*# version = 1
#*# points =
#*# 	  0.145833, 0.049583, 0.025000
#*# 	  0.152500, 0.007500, -0.159583
#*# 	  0.183333, -0.011667, -0.198333
#*# tension = 0.2
#*# min_x = 45.0
#*# algo = bicubic
#*# y_count = 3
#*# mesh_y_pps = 3
#*# min_y = 7.0
#*# x_count = 3
#*# max_y = 219.0
#*# mesh_x_pps = 2
#*# max_x = 219.0
